# =============== #
# Unity generated #
# =============== #
FalloutRpg/[Tt]emp/
FalloutRpg/[Oo]bj/
FalloutRpg/[Bb]uild
FalloutRpg/[Ll]ibrary/
FalloutRpg/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
FalloutRpg/[Ee]xported[Oo]bj/
FalloutRpg/*.userprefs
FalloutRpg/*.csproj
FalloutRpg/*.pidb
FalloutRpg/*.suo
FalloutRpg/*.sln*
FalloutRpg/*.user
FalloutRpg/*.unityproj
FalloutRpg/*.booproj
 
# ============ #
# OS generated #
# ============ #
FalloutRpg/.DS_Store*
FalloutRpg/._*
FalloutRpg/.Spotlight-V100
FalloutRpg/.Trashes
FalloutRpg/Icon?
FalloutRpg/ehthumbs.db
FalloutRpg/[Tt]humbs.db

# ========== #
#    venv    #
# ========== #

.venv/
.venb/
.directory/
.ssh/
