# =============== #
# Unity generated #
# =============== #
Fallout Rpg/[Tt]emp/
Fallout Rpg/[Oo]bj/
Fallout Rpg/[Bb]uild
Fallout Rpg/[Ll]ibrary/
Fallout Rpg/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Fallout Rpg/[Ee]xported[Oo]bj/
Fallout Rpg/*.userprefs
Fallout Rpg/*.csproj
Fallout Rpg/*.pidb
Fallout Rpg/*.suo
Fallout Rpg/*.sln*
Fallout Rpg/*.user
Fallout Rpg/*.unityproj
Fallout Rpg/*.booproj
 
# ============ #
# OS generated #
# ============ #
Fallout Rpg/.DS_Store*
Fallout Rpg/._*
Fallout Rpg/.Spotlight-V100
Fallout Rpg/.Trashes
Fallout Rpg/Icon?
Fallout Rpg/ehthumbs.db
Fallout Rpg/[Tt]humbs.db

# ========== #
#    venv    #
# ========== #

.venv/
